
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
body{
  width:100%;
  margin:0;  
}
 /*Fonts*/
h1{
    font-size: larger;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

 /*Colours*/
.blue{
    background-color: #155ECA;
}
.raspberry{
    background-color:#F9638B;
}
.purple{
    background-color: #9F67B4;
}
.gold{
background-color: #DAC272;
}
.green{
background-color: #16858D;
}
.banana{
    background-color: #C4C550;
}
.colour_olive{
    color: #4A4A19;
}
.white-bg{
    background-color: white;
}

/*Header Section*/


nav{

    background-color: #155ECA;
}
ul {
    list-style: none;
    display: flex;
    margin: 0 auto;
    width:70%;
    padding:0;

  }

  li{
      margin:6px auto;
    
  }

a{
    font-family: 'Quicksand', sans-serif; 
    
}
a:hover{
  text-decoration: none;
}
li>a{
    color: white;
    font-size: small;
  

}

li>a:hover{
    text-decoration:none;
    color:white;
    font-weight: 500;
   

}
a.colour_gold{
    color: #DAC272;
}

a>img{
    width:60%;
    margin-bottom:7px;
}
/*Hamburger menu*/


 .hamburger-menu{
     display: none;
 }
 .line-hamburger {
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 0.3px;
    margin: 2px 0;
  }
  .line-hamburger:hover{
    background-color:#155ECA;

  }

  /*Main*/
  #main{
   
    background-image: url("img/blue_bg.png");
    background-size: 140%;
    background-position: center;
    margin:-90px auto;
    background-repeat: no-repeat;
    padding:180px 0 260px;
   

 
  }
  .grid-3{
width:90%;
display: grid;
grid-template-columns:33% 33% 33%;
margin:auto;
text-align: center;

  }
  #hero{
    grid-column-start: 2;
    grid-column-end: 3;
    width:100%;
  }
 #main-logo{
    width:100%;
    height: fit-content;
    margin:0  auto 90px;

  

 }
 #main-logo>img{
    width:100%;
 }

  button.about{
    margin:auto;
    text-align: center;
    color:#DAC272 ;
    background-color: #155ECA;
    width:160px;
    justify-items: center;
    border: none;
    font-weight: 500;
   
  }
 .about:hover{
    background-color: #155ECA;
    filter: brightness(120%);
    color:#b29e5b ;
    
  }
  a.sticky{
    position: fixed;
    width: 30px;
    height: 30px;
    z-index:8;
   top:400px;
   right:20px;
   text-decoration: none;
   border-radius: 2px;
   
  }
h3{
    color:#DAC272 ;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2px;
  padding:5px;
}
h3:hover{
    font-size: 1.1rem;
   
}
  /*Footer*/
  footer{
    width:100%;
    border-top:5px solid #DAC272;
   position: relative;
 
  }
  .footer{
    text-align:left;
  }
  .first{
    grid-column-start: 1;
    grid-column-end: 2;
    width:80%;
    padding:90px 30px 0;
  }
  .h3-footer{
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight:400;
  }
  .icon-footer{
    width:35px;
    margin-bottom:15px;
    position: relative;
  
  
  }
  .icon-footer>img{
    width:80%;
  }
 p.white{
    color:white;
    font-weight: 300;
    padding-bottom:15px;
    border-bottom: dotted 2px #DAC272;
  
 }


  .second{
    grid-column-start: 2;
    grid-column-end: 3;
    width:90%;
    padding:90px 30px 0;
  }
  #footer-logo-box{
    width:50%;
    margin-bottom: 30px;
  }
  #footer-logo-box>img{
    width:60%;
  }

  #footer-social-box{
    width:30%;
  }
 
  #fb-footer{
    float: left;
  }
  #insta-footer{
    float:right;
  }
  .third{
    grid-column-start: 3;
    grid-column-end: 4;
    width:80%;
    
    padding: 90px 30px 0;
  }
  
   /*Logos page*/
   #main_logos{
   
    background-image: url("img/raspberry_bg.png");
   
    background-position: center;
    margin:-90px auto;
    background-repeat: no-repeat;
    padding:180px 0 360px;
  }
  h1#logos{
    background: linear-gradient(0deg, rgba(249,99,139,1) 0%, rgba(218,194,114,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom:60px;
  }

  .grid-4{
    width:90%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin:0 auto 60px;
   
  }
  .grid4-1{
    grid-column-start: 1;
    grid-column-end: 2;
    width:100%;
    padding:15px;
  }
  .grid4-2{
    grid-column-start: 2;
    grid-column-end: 3;
    width:100%;
    padding:15px;
  }
  .grid4-3{
    grid-column-start: 3;
    grid-column-end: 4;
    width:100%;
    padding:15px;
  }
  .grid4-4{
    grid-column-start: 4;
    grid-column-end: 5;
    width:100%;
    padding:15px;
  }
  .box_cover{
    position: relative;
    z-index: 15;
  }
  .box{
position: relative;
z-index: 10;
margin-top:-600px;
-webkit-box-shadow: 10px 10px 5px -6px rgba(102,102,102,0.39);
-moz-box-shadow: 10px 10px 5px -6px rgba(102,102,102,0.39);
box-shadow: 10px 10px 5px -6px rgba(102,102,102,0.39);

  }
 
  .box, .box_cover{
    width:100%;
    height:600px;
    padding:30px 15px;
    top:0;
    text-align: center;
    }
    h4.logo{
      text-decoration: none;
      color:#F9638B;
      margin-top:30px;
    }
  .box.white-bg>img{
    width:60%;
    margin:15px auto;
    
  }
  .box_cover:hover{
    opacity: 0;
    cursor: pointer;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;  
  }
  h2.playfair_font{
    font-family: 'Playfair Display', serif;
    color:#b29e5b;
  }
  .box_cover>p{
    color:#b29e5b;
  }
  .logo_line{
    background: rgb(246,233,98);
background: linear-gradient(90deg, rgba(246,233,98,1) 0%, rgba(249,99,139,1) 32%, rgba(10,216,157,1) 57%, rgba(239,160,148,1) 100%);
    width:60%;
    height:2px;
    border-radius: 1px;
    margin:30px auto;
  }
  .leaves{
    background-image: url("img/rainbow_bg.png");
    background-size: cover;
    height:600px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 20;
    margin-top:-600px;

  }
  
   /*About page*/
   #main_about{
    background-image: url("img/green_bg.png");
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;

   
  }
  #hero.about-bg{
    grid-column-start: 1;
    grid-column-end: 4;
    background: rgb(22,133,141);
    background: linear-gradient(0deg, rgba(22,133,141,1) 0%, rgba(22,133,141,0) 100%);
    padding:0 90px 90px;
    margin-top: 60px;
  }
  #about-box{
    margin-top:60px;
  }
  h1#about{ 
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom:60px;
  }
  #about-box{
    width:180px;
    margin:auto;
    text-align: center;
    margin-bottom: 30px;
  }
  #about-box>img{
    width:100%;
    
  }
h2{
    color:white;
    font-weight: 400;
    margin:15px auto;

}
#signature{
    float:right;
   margin-right:20%;

}
#about-text-box>p{
color:white;
line-height: 1.8;
}
footer.green{
    background-image: url("img/footer_leaves.png");
    background-size:80%;
    background-position: right;
    background-repeat: no-repeat;
   
}
   /*Prices page*/
   #main_prices{
   
    background-image: url("img/purple_bg.png");
    background-size: 140%;
    background-position: center;
    margin:-90px auto;
    background-repeat: no-repeat;
    padding:180px 0 360px;
   
  }
  h1#prices{
    background: linear-gradient(0deg, rgba(159,103,180,1) 0%, rgba(218,194,114,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom:60px;
  }
   /*Projects page*/
   #main_projects{
    background-image: url("img/banana_bg.png");
    background-size: 140%;
    background-position: center;
    margin:-90px auto;
    background-repeat: no-repeat;
    padding:180px 0 360px;
   
  }
h1#projects{
    background: linear-gradient(0deg, rgba(74,74,25,1) 0%, rgba(196,197,80,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom:60px; 
}
  @media only screen and (max-width: 1280px){
  section#main{
     padding-bottom:120px;
    }
    .grid-3{
        width:100%;
    }
    .grid-4{
    width:100%;
    }
  #hero.about-bg{
   margin:60px auto auto;
    width:80%;
    padding: 0 60px 90px;
  }
  }
  @media only screen and (max-width: 820px){
    section#main{
        padding-bottom:90px;
       }
       .grid-4{
        grid-template-columns: 50% 50%;
      }
    }
    @media only screen and (max-width: 769px){
       #header-nav{
        width:90%;
       }
       .grid-3{
        grid-template-columns:100%;
    }
    .first, .second, .third{
        grid-column-start: 1;
        grid-column-end: 2;
    }

       section#main{
        padding-top:120px;
       }
       
        .grid-3{
        grid-template-columns: 100%;
       
       
       }
       #hero {
        grid-column-start: 1;
        grid-column-end: 2;
        width:80%;
        margin:auto;
    }
    ul#footer-nav{
        width:100%;
        padding:2px;
    }
    #hero.about-bg {
        margin: 60px auto auto;
        width: 80%;
        padding: 0 20px 30px;
    }
    @media only screen and (max-width:590px){
        nav{
            height:30px;
        }
        .hamburger{
            margin-top:-10px;
        }
            ul#header-nav{
                display:none;
            }
            .hamburger-menu{
                display:block;
            }
           
            .dropdown{
                display: inline-block;
            }
            button.hamburger{
                border:none;
                background:none;
                position: absolute;
                float:left;
             left:20px;
                top:20px;
            }
            .line-hamburger {
               width: 20px;
               height: 2px;
               background-color: white;
               border-radius: 0.3px;
               margin: 2px 0;
             }
             .button-box {
                 width:100%;
             }
             .btn-outline-dark{
                 width:120px;
             }
             .dropdown-menu>li>a{
                 color:#0E2230;
                 margin:15px;
             }
             #main_about {
                background-image: url(img/mobil_about_bg.png);
                background-size: 180%;
                background-position: top center;
               
}
.grid-4{
    grid-template-columns: 100%;
  }
    }
    @media only screen and (max-width:420px){
        #hero.about-bg {
            margin: 30px auto auto;
            width: 90%;
            padding: 0 20px 30px;


    }
    #footer-social-box {
        width: 40%;
}
    }